{% extends "base.html" %}
{% block content %}



<div class="col-sm-8 col-sm-offset-2">
	<h1>{{ title }}</h1>
<div class="row">
	

{% for obj in object_list %}
<div class="col-sm-12">

<div class="card" style="width: 18rem;">
	{% if obj.image %}
  <img class="card-img-top" src="{{ obj.image.url }}" alt="Card image cap">
  {% endif %}
  <div class="card-body">
    <h5 class="card-title">{{ obj.title }}<small> {{ obj.timestamp|timesince}} ago</small></h5>
    <p class="card-text">{{ obj.content | linebreaks | truncatechars:120}}</p>
    <a href="{{ obj.get_absolute_url }}" class="btn btn-primary">Read More</a>
  </div>
</div>
<br>
</div>


{% endfor %}
</div>
<div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?page={{ object_list.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a href="?page={{ object_list.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
	

</div>
{% endblock content %}